<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>j.haianh.controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <display-name>laptrinhWebbuoi2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>j.haianh.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerController</servlet-name>
    <servlet-class>j.haianh.controller.manager.ManagerController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WaitingController</servlet-name>
    <servlet-class>j.haianh.controller.WaitingController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>j.haianh.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>j.haianh.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern>/admin/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerController</servlet-name>
    <url-pattern>/manager/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WaitingController</servlet-name>
    <url-pattern>/waiting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
</web-app>